@font-face {
    font-family: adventure;
    src: url(./Thunderman.ttf);
}

// Vars
$bmoHeight : 444px;
$bmoWidth : 336px;

:root {
    --screen: #d7fae2;
    --dark-blue: #031e33;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: adventure, sans-serif;
}

.bmo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .content {
        text-align: center;
        background-color: #67caa7;
        opacity: 1.0;
        height: $bmoHeight;
        width: $bmoWidth;
        border: 2px solid #075636;
        border-radius: 0.9em;
    }
}

.bmo-grid {
    position: relative;

    
}

.grid-container, .empty-container {
    display: grid;
    margin: 0 auto;
 
    border-radius: 0.6em;
    width: 78%;
    height: 8.5em;
    margin:1.25em auto 1.0em auto;
    border:2px solid #075636;

}

.empty-container {
    background-color: var(--screen);
}

.eye {
    border-radius: 100%;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    background-color: #000;
}

.left-eye {
    left:28%; top:35%;
}
.right-eye {
    right:28%; top:35%;
}

.mouth {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    border: 1px solid #000;
    top: 45%; left: 50%; margin-left: -1em;
}

.mouth::after {
        content:"";
        display:block;
        position:absolute;
        top:50%; left:50%; margin-left:-0.75em;
        margin-top:-0.75em;
        width:2.25em;
        height:1.0em;
        background-color: var(--screen);
}

.hidden {
    display: none;
}